// Fonts
%regular {
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

%medium {
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

%semi-bold {
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
%bold {
  font-family: "Jost", sans-serif;
  font-weight: 700;
}
%extra-bold {
  font-family: "Jost", sans-serif;
  font-weight: 900;
}
